:root{
	--checkbox-height: 50px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: calc(var(--checkbox-height) * 2);
	height: var(--checkbox-height);
	background: grey;
	display: block;
	border-radius: var(--checkbox-height);
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: calc(var(--checkbox-height) / 20);
	left: calc(var(--checkbox-height) / 20);
	width: calc(var(--checkbox-height) - calc(var(--checkbox-height) / 10));
	height: calc(var(--checkbox-height) - calc(var(--checkbox-height) / 10));
	background: #fff;
	border-radius: calc(var(--checkbox-height) - calc(var(--checkbox-height) / 10));
	transition: 0.3s;
}

input:checked + label {
	// background: #bada55;
	background: #29ac60;
}

input:checked + label:after {
	left: calc(100% - calc(var(--checkbox-height) / 20));
	transform: translateX(-100%);
}

label:active:after {
	width: calc(var(--checkbox-height) * 1.3);
}