@include mobile {
  nav {
    // background-color: rebeccapurple;
    height: 50px;
    & > h1 {
      font-size: 1.8rem;
    }
    & >div{
       a#glyph5 {
         display: none;

      }
      a#glyph6 {
        display: none;

      }
      a>img{
        // top:10px;
        width: 30px;
      }
  }
  }
}

@include xs-mobile {
  nav {
    height: 50px;
    & > h1 {
      font-size: 1.5rem;
    }
    & >div{
        &.rightSection{
            opacity: 0;
            transform: translateX(100%);
            transition: all 0.5s;
        }
        &> 
    a#glyph0{
        display: none;
    }
      a#glyph5,a#glyph6 {
        display: block;
        position: absolute;
        top:10px;
        animation-play-state: paused;
      }
      a#glyph5{
        opacity: 1;
        display: block;
      }
      a#glyph6{
        opacity: 1;
        display: none;
      }
      @keyframes show {
        0% { 
            opacity: 0;
            transform: rotate(90deg);
         }
        100% { 
            opacity: 1;
            transform: rotate(0deg);
         }
      }
      @keyframes hide {
        0% { 
            opacity: 1;
            transform: rotate(0deg);
         }
        100% { 
            opacity: 0;
            transform: rotate(-90deg);
        }
      }

  }}
}
